//$color: #F4FEFD;
//$color-primary: #3a4f50;
//$color-secondary: #0EF6CC;
//$color-bg: #1B2223;

$color: #EDE9E3;
$color-primary: #093a3e;
$color-secondary: #3aafb9;
$color-bg: #001011;
$color-bg-2: #0D2D42;
